name: Build website

on:
  workflow_call:
    inputs:
      hosting-provider:
        description: "Hosting provider to use for publishing the website: netlify or gh-pages. If 'gh-pages', also need to set permissions."
        required: false
        type: string
        default: 'netlify'
    secrets:
      netlify-token:
        required: false
      github-token:
        # Needs permissions: contents: write, pages: write
        required: false

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: build-website-group
      cancel-in-progress: true
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Spell check repo
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0

      # add software dependencies here

      - name: Publish to Netlify (and render)
        if: ${{ inputs.hosting-provider == 'netlify' }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: ${{ secrets.netlify-token }}

      # NOTE: If Publishing to GitHub Pages, set the permissions correctly (see above).
      - name: Publish to GitHub Pages (and render)
        if: ${{ inputs.hosting-provider == 'gh-pages' }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
