name: Sync files across repos

on:
  workflow_call:
    inputs:
      # The GitHub App that has been given permission to push to repo.
      app-id:
        type: "string"
        required: true
    secrets:
      # Needs read and write contents permission to create pull requests.
      sync-files-token:
        required: true

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          owner: ${{ github.repository_owner }}
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.sync-files-token }}

      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}

        # Taken from https://github.com/actions/create-github-app-token/
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/$APP_ID[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          APP_ID: ${{ steps.app-token.outputs.app-slug }}

      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_INSTALLATION_TOKEN: ${{ steps.app-token.outputs.token }}
          ASSIGNEES: lwjohnst86
          IS_FINE_GRAINED: true
          GIT_USERNAME: ${{ steps.app-token.outputs.app-slug }}[bot]
          GIT_EMAIL: ${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com
          COMMIT_PREFIX: "chore(sync): :hammer: "
          COMMIT_EACH_FILE: false
          BRANCH_PREFIX: chore/data-package-sync
