name: Build website

on:
  workflow_call:
    inputs:
      hosting-provider:
        description: "Hosting provider to use for publishing the website: netlify or gh-pages. If 'gh-pages', also need to set permissions."
        required: false
        type: string
        default: 'netlify'
    secrets:
      netlify-token:
        required: false
      github-token:
        # Needs permissions: contents: write, pages: write
        required: false

jobs:
  build-website:
    runs-on: ubuntu-latest
    concurrency:
      group: build-website-python-group
      cancel-in-progress: true
    env:
        QUARTO_PYTHON: ".venv/bin/python3"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          # Install a specific version of uv.
          # uv recommends to set the version for best practice.
          version: "0.6.13"
          # To have a faster CI time, enable cache between runs.
          enable-cache: true
          # Reset the cache if the lock file changes.
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project and it's dependencies
        run: |
            uv sync --all-extras --dev
            source .venv/bin/activate

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0

      - name: Spell check repo
        uses: crate-ci/typos@bb4666ad77b539a6b4ce4eda7ebb6de553704021 # v1.42.0

      - name: Build function reference docs
        run: uv run quartodoc build

      - name: Publish to Netlify (and render)
        if: ${{ inputs.hosting-provider == 'netlify' }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: ${{ secrets.netlify-token }}

      # NOTE: If Publishing to GitHub Pages, set the permissions correctly (see above).
      - name: Publish to GitHub Pages (and render)
        if: ${{ inputs.hosting-provider == 'gh-pages' }}
        uses: quarto-dev/quarto-actions/publish@8a96df13519ee81fd526f2dfca5962811136661b # v2.2.0
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
